*
{
   margin: 0;
   padding: 0;
}
body
{
  background-color: #548687;
  text-align: center;
    
}
h1
{
    display: inline-block;
    color:#352F44;
    background-color: #D3D0CB;
}
.container
{
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 70vh;

}
.game
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    gap:1.5vmin;
    height: 60vmin;
    width: 60vmin;
    
}
.box
{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    /* box-shadow:0 0 1rem rgba(0,0,0,0.3) ; */
    font-size: 8vmin;
    /* color: #b0413e;   */
    background-color: #fffFC7; 
    transition: box-shadow 0.5s;
}
#Reset-btn
{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    border-radius: 1rem;
    border: none;
    color: #fff;
    

}
#new-game
{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    border-radius: 1rem;
    border: none;
    color: #fff;
}
#msg
{
    color: #fffFC7;
    font-size: 5vmin;
     border-radius: 10px;
}
.msg-container
{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}
.hide
{
    display: none;
}
.glow-red
{
    box-shadow: 0 4px 8px red;
    color:#b0413e; ;
    

}
.glow-green
{

    box-shadow: 0 4px 8px greenyellow;
    color:  #38a169;

}





